<!doctype html>
<style>
.button {
  font: 11px Arial;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-radius: 4px;
}
</style>
<html>
  <body>
    <form method="post">
        {% csrf_token %}
          {{ form.as_p }}
        <br>
        <input type="submit" name="Save">
        <a class="button" href="/sightings/">Cancel</a>
    </form>
  </body>
</html>
