<!DOCTYPE html>
<html>
<head>
<style>
table {
  width : 50%;
  border-collapse : collapse;
}
th {
  height : 30px;
  text-align : center;
  border-bottom: 1px solid #ddd;;
}
td {
  text-align : center;
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color:#f5f5f5;}
</style>
</head>
<body>

  <h2>Squirrel Sightings in Central Park</h2>

  {% if sightings %}
    <table>
      <tr>
          <th></th>
          <th>Sighting ID</th>
          <th>Coordinates</th>
          <th>Date</th>
          <th>Shift</th>
      </tr>
      {% for sighting in sightings %}
        <tr>
          <td> <a href="{% url 'tracker:update' sighting.squirrel_id %}">Edit</a> </td>
          <td>{{sighting.squirrel_id}}</td>
          <td>({{sighting.latitude}}, {{sighting.longitude}})</td>
          <td>{{sighting.date}}</td>
          <td>{{sighting.shift}}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>
      There are no squirrel sightings in the database.
    </p>
    {% endif %}

</body>
</html>
