<!DOCTYPE html>
<html>
<head>
<style>
table {
  width : 30%;
  border-collapse : collapse;
}
th {
  height : 30px;
  text-align : center;
  border-bottom: 1px solid #ddd;;
}
td {
  text-align : center;
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color:#f5f5f5;}
</style>
</head>
<body>

  <h2>Data Analytics of the Squirrel Sigthing database</h2>

    <table>
      <tr>
          <th>Statistic name</th>
          <th>Value</th>
      </tr>
      <tr>
          <td>Total number</td>
          <td>{{TotalNumber}}</td>
      </tr>
      <tr>
          <td>RunPct</td>
          <td>{{RunPct}}</td>
      </tr>
      <tr>
          <td>ChasePct</td>
          <td>{{ChasePct}}</td>
      </tr>
      <tr>
          <td>ClimbPct</td>
          <td>{{ClimbPct}}</td>
      </tr>
      <tr>
          <td>EatPct</td>
          <td>{{EatPct}}</td>
      </tr>
      <tr>
          <td>ForagePct</td>
          <td>{{ForagePct}}</td>
      </tr>
    </table>
    <br>
    <a href='/sightings/'>Go back</a>
</body>
</html>
